<div class="login">

<%if !@current_user %>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<div class="btn waves-effect waves-orange read-button">
	<a href="/auth/twitter">Login</a>
	</div>
<% end %>
</div>